.person {
    position: relative;
    background-color: aliceblue;
    padding: 2px;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-space;
}

.person-social {
    display: none;
}

.person:hover .person-social {
    display: unset;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(-100% - 1em);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aliceblue;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    padding-top: 1em;
    padding-bottom: 2px;
}

.person-social i, .person-social svg {
    font-size: 1.2em;
}